{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'happy_site/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'happy_site/images/logo.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
                <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
                <li><a href="/bdays/">Дні народження</a></li>
                <li><a href="/add_bday/">Додати день народження{{m.title}}</a></li>
                <li class="last"><a href="{% url 'register' %}">Реєстрація</a> | <a href="{% url 'login' %}">Вхід</a></li>
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar зліва -->
	<td valign="top" class="left-chapters">

	<ul id="leftchapters">
        Місяці
        <li><a class="contacts" href="#"></a>Січень</li>
	</ul>
</td>
<!-- Кінець Sidebar'а -->

<td valign="top" class="content">

<!-- Хлібні крихти -->
{% block breadcrumbs %}
{% endblock %}

<!-- Блок контенту -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- Кінець блоку контенту -->

</td></tr></table>
</td></tr>

{% block footer %}
<!-- Footer -->
<footer>
        <td>
            <div id="footer" class="contacts">
                &copy; 2023 Happy B-days!
                <a href="https://www.linkedin.com/in/serhii-miroshnychenko-mariupol/" target="_blank">
                        <img alt="Linkedin" src="{% static 'happy_site/images/Linkedin.png' %}" />
                    </a>
                <a href="https://www.sololearn.com/" target="_blank">
                        <img alt="SoloLearn" src="https://www.sololearn.com/Uploads/icons/sololearn.png" />
                    </a>
                <a href="https://github.com/SerhiiMiroshnychenko" target="_blank">
                        <img alt="GitHub" src="{% static 'happy_site/images/GitHub.png' %}" />
                    </a>
            </div>
        </td>
</footer>
<!-- Кінець footer'а та сторінки -->
{% endblock %}
</body>
</html>