{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'happy_site/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'happy_site/images/happy_logo.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
                <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
            {% if user.is_authenticated %}
                <li><a href="/bdays/">Дні народження</a></li>
                <li><a href="/add_bday/">Додати день народження{{m.title}}</a></li>
               <li>Happy Bot<a href="https://web.telegram.org/k/#@hhappy_bday_bbot" target="_blank">
                   <img id="happy-bot" style="width: 30px; height: 30px"
                        alt="Happy Bot" src="{% static 'happy_site/images/happy_bot.png' %}" /></a></li>
            {% endif %}
                    {% if user.is_authenticated %}
                            {% if user.username == 'admin' %}
                                <li class="last"><a href="/admin/">Привіт, {{ user.username }}</a>
                                                 | <a href="{% url 'logout' %}">Вихід</a></li>
                            {% else %}
                                <li class="last"><a href="home/">Привіт, {{ user.username }}</a>
                                                 | <a href="{% url 'logout' %}">Вихід</a></li>
                            {% endif %}
                    {%  else %}

                    <li class="last"><a href="{% url 'register' %}">Реєстрація</a>
                    | <a href="{% url 'login' %}">Вхід</a></li>
                {% endif %}

			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar зліва -->
	<td valign="top" class="left-chapters">

        {% if user.is_authenticated %}
        <h4 style="padding-left: 100px;"><a class="contacts" href="/bdays/?month=">ВЕСЬ РІК</a></h4>
	<table class="calendar" border="5px" style="
	border-color: lightgray;
	margin: 5px;
    ">
  <tr>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=12">Грудень</a></td>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=1">Січень</a></td>
    <td align="center" style="
   padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=2">Лютий</a></td>
  </tr>
  <tr>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=3">Березень</a></td>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=4">Квітень</a></td>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=5">Травень</a></td>

  </tr>
  <tr>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=6">Червень</a></td>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=7">Липень</a></td>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=8">Серпень</a></td>
  </tr>
  <tr>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=9">Вересень</a></td>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=10">Жовтень</a></td>
    <td align="center" style="
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: bold;"><a class="contacts" href="/bdays/?month=11">Листопад</a></td>
  </tr>
</table>
{% else %}
            <div class="welcome-site">
            <h1 class="welcome">WELCOME</h1>
            <h1 class="welcome">to</h1>
            <h1 class="welcome">HAPPY</h1>
            <h1 class="welcome">B-DAYS</h1>
            <h1 class="welcome">SITE!</h1>
            </div>

        {% endif %}
</td>

<!-- Кінець Sidebar'а -->

<td valign="top" class="content">


<!-- Хлібні крихти -->
{% block breadcrumbs %}
{% endblock %}

<!-- Блок контенту -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- Кінець блоку контенту -->

</td></tr></table>
</td></tr>

{% block footer %}
<!-- Footer -->
<footer>
        <td>
            <div id="footer" class="contacts">
                <p>&copy; 2023 Happy B-days!</p>
                <a class="link-contact" href="https://www.linkedin.com/in/serhii-miroshnychenko-mariupol/" target="_blank">
                        <img alt="Linkedin" src="{% static 'happy_site/images/Linkedin.png' %}" />
                    </a>
                <a class="link-contact" href="https://www.sololearn.com/" target="_blank">
                        <img alt="SoloLearn" src="https://www.sololearn.com/Uploads/icons/sololearn.png" />
                    </a>
                <a class="link-contact" href="https://github.com/SerhiiMiroshnychenko" target="_blank">
                        <img alt="GitHub" src="{% static 'happy_site/images/GitHub.png' %}" />
                    </a>
            </div>
        </td>
</footer>
<!-- Кінець footer'а та сторінки -->
{% endblock %}
</body>
</html>