{% extends 'happy_site/base.html' %}
{% load happy_tags %}
{% load humanize %}

{% block header %}
    <h1>Дні народження</h1>
{% endblock %}



{% block content %}

    <h3 class="BD">ДНІ НАРОДЖЕННЯ</h3>
<form class="months" method="get" action="">
    <select name="month" onchange="this.form.submit()">
        <option value="" {% if not request.GET.month %}selected{% endif %}>Всі місяці</option>
        {% for month in months %}
            <option value="{{ month.date__month }}" {% if request.GET.month == month.date__month|stringformat:"i" and  month.date__month|stringformat:"i" %}selected{% endif %}>
                {{ month.name__month }}
            </option>
        {% endfor %}
    </select>
</form>
    <ul class="list-articles">
	{% for day in b_days %}
			<li><div class="article-panel">
    <p class="first">{{day.date}}</p>
</div>
{% if day.photo %}
	<p><img class="img-article-left thumb" src="{{day.photo.url}}"></p>
{% endif %}
				<h2 class="BD-link"><a href="/bday/{{ day.id }}/">{{day.title}}</a></h2>
	{% autoescape on %}
	{{day.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
            <p>Виповнюється: <b>{{day.age}}</b> років</p>

            <div class="btn-group">
                {% reminders_for_birthday day %}
            </div>
        <div class="clear"></div>
            <div class="button-group-bd" style="display: inline-block; float: right;">
                <div class="button-bd" style="display: inline-block; margin-right: 30px;">
                    <a  href="/bdays/{{ day.id }}/delete"
                        onclick="return confirm('Ви впевнені, що хочете видалити цю нотатку?')">Видалити</a></div>
                <div class="button-bd" style="display: inline-block; margin-right: 30px;">
                    <a href="/bdays/{{ day.id }}/edit">Редагувати</a></div>
                <div class="button-bd" style="display: inline-block; margin-right: 10px;">
                    <a href="/bdays/{{ day.id }}/add_reminder">Додати нагадування</a></div>
            </div>
        <div class="clear" style="padding-bottom: 10px"></div>
        </li>
	{% endfor %}
</ul>

{% endblock %}